In [1]:
#This file created to learn about using jupyter notebook in vs code
print("This is first nobebook")
print("created to install all the necessary extensions in vs code")

This is first nobebook
created to install all the necessary extensions in vs code

In [10]:
#data types
#Boolean
name = 'krishna jakkula'
print(name.istitle())
print(name.isalnum())

False
False

In [22]:
#list
lst1=['can','contain','diffrent','data','types','like',1,-32,3.14,True]
print(len(lst1))
print (type(lst1))
lst1.append(False)
print(lst1)
print(lst1[2])
print(lst1[:])
print(lst1[3:6])
lst1.insert(0,'list')
print(lst1)

10
<class 'list'>
['can', 'contain', 'diffrent', 'data', 'types', 'like', 1, -32, 3.14, True, False]
diffrent
['can', 'contain', 'diffrent', 'data', 'types', 'like', 1, -32, 3.14, True, False]
['data', 'types', 'like']
['list', 'can', 'contain', 'diffrent', 'data', 'types', 'like', 1, -32, 3.14, True, False]

In [24]:
lst2=[1,2,3,4]
lst2.append([5,6])
print(lst2)
lst3 = [1,2,3,4]
lst3.extend([5,6,7])
print(lst3)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, 5, 6, 7]

In [25]:
total=sum(lst3)
print(total)

28

In [26]:
lst3.pop()
print(lst3)
lst3.pop(3)
print(lst3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [29]:
lst4=[1,1,2,2,2,3,3,3,3,4,4,4,4,4,4]
no_of_occurence = lst4.count(4)
print(no_of_occurence)
print(lst4.index(4,0,14))

6
9

In [34]:
lst5=[34,5,6,65,345,43,4,456,76,45,435,3]
print(min(lst5))
print(max(lst5))

3
456

In [36]:
lst5*5

[34,
 5,
 6,
 65,
 345,
 43,
 4,
 456,
 76,
 45,
 435,
 3,
 34,
 5,
 6,
 65,
 345,
 43,
 4,
 456,
 76,
 45,
 435,
 3,
 34,
 5,
 6,
 65,
 345,
 43,
 4,
 456,
 76,
 45,
 435,
 3,
 34,
 5,
 6,
 65,
 345,
 43,
 4,
 456,
 76,
 45,
 435,
 3,
 34,
 5,
 6,
 65,
 345,
 43,
 4,
 456,
 76,
 45,
 435,
 3]